{% extends 'base.html.twig' %}


{% block body %}
    <div class="profileTitle">
        <h3>Bonjour {{ Duck.duckname }} ! </h3>
        <div><img class="image" src="{{ Duck.image }}"></div>
    </div>

    <div class="profileInfos">
        <div> <strong> e-mail </strong>: {{ Duck.email }}</div>
        <div> <strong>firstname</strong> : {{ Duck.firstname }}</div>
        <div> <strong>lastname</strong> : {{ Duck.lastname }}</div>
        <div> <strong>duckname</strong> : {{ Duck.duckname }}</div>
    </div>
    <div class="buttonCenter">
        <a class="profileButton" href="{{ path('profile_edit') }}">Modify Profile</a>
    </div>
{% endblock %}
